.menu-item{
    padding: 5px 15px;
    color: white;
    max-width: 150px;
    background-color: rgb(97,150,220);
    border-radius: 4px;
    border: none;
    margin: 15px 15px;
    cursor: pointer;
}

.menu-item:link{
    text-decoration: none;
}

.menu-item:visited{
    text-decoration: none;
}

.menu-item:hover{
    background-color: rgb(148, 191, 248);
}

.menu-item:active{
    background-color: rgb(11, 77, 163);
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 46, 46);
}